PORT=8080
DATABASE_URL=mongodb+srv://xatire:xatire12345@cluster0.fpebgcy.mongodb.net/myapi?appName=Cluster0
REDIS_URL=rediss://default:gQAAAAAAAAUwZAAIncDFmMTZlNDZmYjQxNmQ0ZjdkYTRhMDMxOTEzNTNjZTA5YXAxODUwMTc@firm-sole-85017.upstash.io:6379
JWT_SECRET=xatire_pokemon_secret_key_2024